.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.fas {
  font-size: 15px;
}
.icon {
  border: solid 1px  #626464;
  padding: 5px;
  border-radius:50%;
  background-color:  #6eeebd ;
  color: #ffff;
}
.active {
  color: #6eeebd;
}
.content{
  line-height: 50px;
}
.container{
  background-color: #626464;
}
